<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodel -->
      <package
            uri="http://www.obeo.fr/inception"
            class="fr.obeo.dsl.inception.metamodel.MetamodelPackage"
            genModel="model/metamodel.genmodel"/>
   </extension>

</plugin>
