<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated starwars -->
      <package
            uri="http://www.obeo.fr/starwars/metamodel"
            class="fr.obeo.starwars.dsl.starwars.StarwarsPackage"
            genModel="model/starwars.genmodel"/>
   </extension>

</plugin>
